# 자동생성 파일
.cache/
.conda/
.git/
.config/
.ipython/
.local/
.nv/
.vscode-server/
.bash_history
.bashrc
.gitconfig
.git-credentials
.profile
.python_history
.wget-hsts
.netrc
.pipwin
__pycache__/

# 폴더
wandb/
experiment/
notebooks/

# 환경 변수 설정 파일
.env