@font-face {
  font-family: "62570";
  src: local("62570"), url("fonts/62570.ttf");
}
@font-face {
  font-family: "ACC어린이가을담은체";
  src: local("ACC어린이가을담은체"), url("fonts/ACC어린이가을담은체.ttf");
}
@font-face {
  font-family: "ACC어린이마음고운체";
  src: local("ACC어린이마음고운체"), url("fonts/ACC어린이마음고운체.ttf");
}
@font-face {
  font-family: "ACC어린이하늘맑은체";
  src: local("ACC어린이하늘맑은체"), url("fonts/ACC어린이하늘맑은체.ttf");
}
@font-face {
  font-family: "Ansungtangmyun-Bold";
  src: local("Ansungtangmyun-Bold"), url("fonts/Ansungtangmyun-Bold.ttf");
}
@font-face {
  font-family: "Ansungtangmyun-ESG";
  src: local("Ansungtangmyun-ESG"), url("fonts/Ansungtangmyun-ESG.ttf");
}
@font-face {
  font-family: "BMDOHYEON_ttf";
  src: local("BMDOHYEON_ttf"), url("fonts/BMDOHYEON_ttf.ttf");
}
@font-face {
  font-family: "BMEULJIROTTF";
  src: local("BMEULJIROTTF"), url("fonts/BMEULJIROTTF.ttf");
}
@font-face {
  font-family: "BMHANNAAir_ttf";
  src: local("BMHANNAAir_ttf"), url("fonts/BMHANNAAir_ttf.ttf");
}
@font-face {
  font-family: "BMHANNAPro";
  src: local("BMHANNAPro"), url("fonts/BMHANNAPro.ttf");
}
@font-face {
  font-family: "BMHANNA_11yrs_ttf";
  src: local("BMHANNA_11yrs_ttf"), url("fonts/BMHANNA_11yrs_ttf.ttf");
}
@font-face {
  font-family: "BMJUA_ttf";
  src: local("BMJUA_ttf"), url("fonts/BMJUA_ttf.ttf");
}
@font-face {
  font-family: "BMKIRANGHAERANG-TTF";
  src: local("BMKIRANGHAERANG-TTF"), url("fonts/BMKIRANGHAERANG-TTF.ttf");
}
@font-face {
  font-family: "BMYEONSUNG_ttf";
  src: local("BMYEONSUNG_ttf"), url("fonts/BMYEONSUNG_ttf.ttf");
}
@font-face {
  font-family: "Batang";
  src: local("Batang"), url("fonts/Batang.ttf");
}
@font-face {
  font-family: "Bazzi";
  src: local("Bazzi"), url("fonts/Bazzi.ttf");
}
@font-face {
  font-family: "Cafe24Classictype";
  src: local("Cafe24Classictype"), url("fonts/Cafe24Classictype.ttf");
}
@font-face {
  font-family: "Cafe24Dongdong";
  src: local("Cafe24Dongdong"), url("fonts/Cafe24Dongdong.ttf");
}
@font-face {
  font-family: "Cafe24Shiningstar";
  src: local("Cafe24Shiningstar"), url("fonts/Cafe24Shiningstar.ttf");
}
@font-face {
  font-family: "Cafe24Ssukssuk";
  src: local("Cafe24Ssukssuk"), url("fonts/Cafe24Ssukssuk.ttf");
}
@font-face {
  font-family: "Cafe24Syongsyong";
  src: local("Cafe24Syongsyong"), url("fonts/Cafe24Syongsyong.ttf");
}
@font-face {
  font-family: "ChangwonDangamAsac-Bold_0712";
  src: local("ChangwonDangamAsac-Bold_0712"),
    url("fonts/ChangwonDangamAsac-Bold_0712.ttf");
}
@font-face {
  font-family: "Chilgok_Cye";
  src: local("Chilgok_Cye"), url("fonts/Chilgok_Cye.ttf");
}
@font-face {
  font-family: "Chilgok_Kaj";
  src: local("Chilgok_Kaj"), url("fonts/Chilgok_Kaj.ttf");
}
@font-face {
  font-family: "Chilgok_kyb";
  src: local("Chilgok_kyb"), url("fonts/Chilgok_kyb.ttf");
}
@font-face {
  font-family: "Chilgok_ljh";
  src: local("Chilgok_ljh"), url("fonts/Chilgok_ljh.ttf");
}
@font-face {
  font-family: "Chilgok_lws";
  src: local("Chilgok_lws"), url("fonts/Chilgok_lws.ttf");
}
@font-face {
  font-family: "ChosunCentennial_ttf";
  src: local("ChosunCentennial_ttf"), url("fonts/ChosunCentennial_ttf.ttf");
}
@font-face {
  font-family: "ChusaLove";
  src: local("ChusaLove"), url("fonts/ChusaLove.ttf");
}
@font-face {
  font-family: "ChusaLoveBold";
  src: local("ChusaLoveBold"), url("fonts/ChusaLoveBold.ttf");
}
@font-face {
  font-family: "DNFBitBitTTF";
  src: local("DNFBitBitTTF"), url("fonts/DNFBitBitTTF.ttf");
}
@font-face {
  font-family: "DX3학년1반B";
  src: local("DX3학년1반B"), url("fonts/DX3학년1반B.ttf");
}
@font-face {
  font-family: "DXPOP-KSCpc-EUC-H";
  src: local("DXPOP-KSCpc-EUC-H"), url("fonts/DXPOP-KSCpc-EUC-H.ttf");
}
@font-face {
  font-family: "DalseoDarling";
  src: local("DalseoDarling"), url("fonts/DalseoDarling.ttf");
}
@font-face {
  font-family: "DalseoHealingBold";
  src: local("DalseoHealingBold"), url("fonts/DalseoHealingBold.ttf");
}
@font-face {
  font-family: "DalseoHealingMedium";
  src: local("DalseoHealingMedium"), url("fonts/DalseoHealingMedium.ttf");
}
@font-face {
  font-family: "DungGeunMo";
  src: local("DungGeunMo"), url("fonts/DungGeunMo.ttf");
}
@font-face {
  font-family: "EF_Firenze(윈도우용_TTF)";
  src: local("EF_Firenze(윈도우용_TTF)"),
    url("fonts/EF_Firenze(윈도우용_TTF).ttf");
}
@font-face {
  font-family: "EF_jejudoldam(윈도우용_TTF)";
  src: local("EF_jejudoldam(윈도우용_TTF)"),
    url("fonts/EF_jejudoldam(윈도우용_TTF).ttf");
}
@font-face {
  font-family: "EF_watermelonSalad(윈도우용TTF)";
  src: local("EF_watermelonSalad(윈도우용TTF)"),
    url("fonts/EF_watermelonSalad(윈도우용TTF).ttf");
}
@font-face {
  font-family: "FOUREYES";
  src: local("FOUREYES"), url("fonts/FOUREYES.ttf");
}
@font-face {
  font-family: "GabiaCheongyeon";
  src: local("GabiaCheongyeon"), url("fonts/GabiaCheongyeon.ttf");
}
@font-face {
  font-family: "GabiaMaeumgyeol";
  src: local("GabiaMaeumgyeol"), url("fonts/GabiaMaeumgyeol.ttf");
}
@font-face {
  font-family: "Galmuri11-Bold";
  src: local("Galmuri11-Bold"), url("fonts/Galmuri11-Bold.ttf");
}
@font-face {
  font-family: "Galmuri11-Condensed";
  src: local("Galmuri11-Condensed"), url("fonts/Galmuri11-Condensed.ttf");
}
@font-face {
  font-family: "Galmuri11";
  src: local("Galmuri11"), url("fonts/Galmuri11.ttf");
}
@font-face {
  font-family: "Galmuri14";
  src: local("Galmuri14"), url("fonts/Galmuri14.ttf");
}
@font-face {
  font-family: "Galmuri7";
  src: local("Galmuri7"), url("fonts/Galmuri7.ttf");
}
@font-face {
  font-family: "Galmuri9";
  src: local("Galmuri9"), url("fonts/Galmuri9.ttf");
}
@font-face {
  font-family: "Ghanachocolate";
  src: local("Ghanachocolate"), url("fonts/Ghanachocolate.ttf");
}
@font-face {
  font-family: "GimhaeGayaB";
  src: local("GimhaeGayaB"), url("fonts/GimhaeGayaB.ttf");
}
@font-face {
  font-family: "GimhaeGayaR";
  src: local("GimhaeGayaR"), url("fonts/GimhaeGayaR.ttf");
}
@font-face {
  font-family: "HSGyeoulNoonkott2.0-Regular";
  src: local("HSGyeoulNoonkott2.0-Regular"),
    url("fonts/HSGyeoulNoonkott2.0-Regular.ttf");
}
@font-face {
  font-family: "HSSantokki-Regular";
  src: local("HSSantokki-Regular"), url("fonts/HSSantokki-Regular.ttf");
}
@font-face {
  font-family: "Hoengseong Hanu";
  src: local("Hoengseong Hanu"), url("fonts/Hoengseong Hanu.ttf");
}
@font-face {
  font-family: "IropkeBatangM";
  src: local("IropkeBatangM"), url("fonts/IropkeBatangM.ttf");
}
@font-face {
  font-family: "JSArirang";
  src: local("JSArirang"), url("fonts/JSArirang.ttf");
}
@font-face {
  font-family: "JSArirangHON";
  src: local("JSArirangHON"), url("fonts/JSArirangHON.ttf");
}
@font-face {
  font-family: "JSArirangPPURI";
  src: local("JSArirangPPURI"), url("fonts/JSArirangPPURI.ttf");
}
@font-face {
  font-family: "JSDongkang-Bold";
  src: local("JSDongkang-Bold"), url("fonts/JSDongkang-Bold.ttf");
}
@font-face {
  font-family: "JSDongkang-Regular";
  src: local("JSDongkang-Regular"), url("fonts/JSDongkang-Regular.ttf");
}
@font-face {
  font-family: "Jaemin";
  src: local("Jaemin"), url("fonts/Jaemin.ttf");
}
@font-face {
  font-family: "Jalnan";
  src: local("Jalnan"), url("fonts/Jalnan.ttf");
}
@font-face {
  font-family: "JejuGothic";
  src: local("JejuGothic"), url("fonts/JejuGothic.ttf");
}
@font-face {
  font-family: "JejuHallasan";
  src: local("JejuHallasan"), url("fonts/JejuHallasan.ttf");
}
@font-face {
  font-family: "JejuMyeongjo";
  src: local("JejuMyeongjo"), url("fonts/JejuMyeongjo.ttf");
}
@font-face {
  font-family: "KBIZ한마음명조 B";
  src: local("KBIZ한마음명조 B"), url("fonts/KBIZ한마음명조 B.ttf");
}
@font-face {
  font-family: "KBIZ한마음명조 L";
  src: local("KBIZ한마음명조 L"), url("fonts/KBIZ한마음명조 L.ttf");
}
@font-face {
  font-family: "KBIZ한마음명조 M";
  src: local("KBIZ한마음명조 M"), url("fonts/KBIZ한마음명조 M.ttf");
}
@font-face {
  font-family: "KBIZ한마음명조 R";
  src: local("KBIZ한마음명조 R"), url("fonts/KBIZ한마음명조 R.ttf");
}
@font-face {
  font-family: "KBIZ한마음명조-R";
  src: local("KBIZ한마음명조-R"), url("fonts/KBIZ한마음명조-R.ttf");
}
@font-face {
  font-family: "KBIZ한마음명조_B";
  src: local("KBIZ한마음명조_B"), url("fonts/KBIZ한마음명조_B.ttf");
}
@font-face {
  font-family: "KBIZ한마음명조_L";
  src: local("KBIZ한마음명조_L"), url("fonts/KBIZ한마음명조_L.ttf");
}
@font-face {
  font-family: "KBIZ한마음명조_M";
  src: local("KBIZ한마음명조_M"), url("fonts/KBIZ한마음명조_M.ttf");
}
@font-face {
  font-family: "KCC-Jeongbeom";
  src: local("KCC-Jeongbeom"), url("fonts/KCC-Jeongbeom.ttf");
}
@font-face {
  font-family: "KCC-Kimhwanki";
  src: local("KCC-Kimhwanki"), url("fonts/KCC-Kimhwanki.ttf");
}
@font-face {
  font-family: "KCCAhnjunggeun";
  src: local("KCCAhnjunggeun"), url("fonts/KCCAhnjunggeun.ttf");
}
@font-face {
  font-family: "KCCChassam";
  src: local("KCCChassam"), url("fonts/KCCChassam.ttf");
}
@font-face {
  font-family: "KCCDodamdodam";
  src: local("KCCDodamdodam"), url("fonts/KCCDodamdodam.ttf");
}
@font-face {
  font-family: "KCCImkwontaek";
  src: local("KCCImkwontaek"), url("fonts/KCCImkwontaek.ttf");
}
@font-face {
  font-family: "KCC김훈체(Windows용)";
  src: local("KCC김훈체(Windows용)"), url("fonts/KCC김훈체(Windows용).ttf");
}
@font-face {
  font-family: "KCC김훈체";
  src: local("KCC김훈체"), url("fonts/KCC김훈체.ttf");
}
@font-face {
  font-family: "KCC은영체(Windows용)";
  src: local("KCC은영체(Windows용)"), url("fonts/KCC은영체(Windows용).ttf");
}
@font-face {
  font-family: "KCC은영체";
  src: local("KCC은영체"), url("fonts/KCC은영체.ttf");
}
@font-face {
  font-family: "KNPSBandali";
  src: local("KNPSBandali"), url("fonts/KNPSBandali.ttf");
}
@font-face {
  font-family: "KNPSKkomi";
  src: local("KNPSKkomi"), url("fonts/KNPSKkomi.ttf");
}
@font-face {
  font-family: "KOTRA HOPE";
  src: local("KOTRA HOPE"), url("fonts/KOTRA HOPE.ttf");
}
@font-face {
  font-family: "KOTRA LEAP";
  src: local("KOTRA LEAP"), url("fonts/KOTRA LEAP.ttf");
}
@font-face {
  font-family: "KOTRA_BOLD";
  src: local("KOTRA_BOLD"), url("fonts/KOTRA_BOLD.ttf");
}
@font-face {
  font-family: "KOTRA_GOTHIC";
  src: local("KOTRA_GOTHIC"), url("fonts/KOTRA_GOTHIC.ttf");
}
@font-face {
  font-family: "KOTRA_SONGEULSSI";
  src: local("KOTRA_SONGEULSSI"), url("fonts/KOTRA_SONGEULSSI.ttf");
}
@font-face {
  font-family: "Katuri";
  src: local("Katuri"), url("fonts/Katuri.ttf");
}
@font-face {
  font-family: "KoPub Batang Bold";
  src: local("KoPub Batang Bold"), url("fonts/KoPub Batang Bold.ttf");
}
@font-face {
  font-family: "KoPub Batang Light";
  src: local("KoPub Batang Light"), url("fonts/KoPub Batang Light.ttf");
}
@font-face {
  font-family: "KoPub Batang Medium";
  src: local("KoPub Batang Medium"), url("fonts/KoPub Batang Medium.ttf");
}
@font-face {
  font-family: "KoPub Dotum Bold";
  src: local("KoPub Dotum Bold"), url("fonts/KoPub Dotum Bold.ttf");
}
@font-face {
  font-family: "KoPub Dotum Light";
  src: local("KoPub Dotum Light"), url("fonts/KoPub Dotum Light.ttf");
}
@font-face {
  font-family: "KoPub Dotum Medium";
  src: local("KoPub Dotum Medium"), url("fonts/KoPub Dotum Medium.ttf");
}
@font-face {
  font-family: "KoPubWorld Batang Bold";
  src: local("KoPubWorld Batang Bold"), url("fonts/KoPubWorld Batang Bold.ttf");
}
@font-face {
  font-family: "KoPubWorld Batang Light";
  src: local("KoPubWorld Batang Light"),
    url("fonts/KoPubWorld Batang Light.ttf");
}
@font-face {
  font-family: "KoPubWorld Batang Medium";
  src: local("KoPubWorld Batang Medium"),
    url("fonts/KoPubWorld Batang Medium.ttf");
}
@font-face {
  font-family: "KoPubWorld Dotum Bold";
  src: local("KoPubWorld Dotum Bold"), url("fonts/KoPubWorld Dotum Bold.ttf");
}
@font-face {
  font-family: "KoPubWorld Dotum Light";
  src: local("KoPubWorld Dotum Light"), url("fonts/KoPubWorld Dotum Light.ttf");
}
@font-face {
  font-family: "KoPubWorld Dotum Medium";
  src: local("KoPubWorld Dotum Medium"),
    url("fonts/KoPubWorld Dotum Medium.ttf");
}
@font-face {
  font-family: "KoPub_Batang_Bold";
  src: local("KoPub_Batang_Bold"), url("fonts/KoPub_Batang_Bold.ttf");
}
@font-face {
  font-family: "KoPub_Batang_Light";
  src: local("KoPub_Batang_Light"), url("fonts/KoPub_Batang_Light.ttf");
}
@font-face {
  font-family: "KoPub_Batang_Medium";
  src: local("KoPub_Batang_Medium"), url("fonts/KoPub_Batang_Medium.ttf");
}
@font-face {
  font-family: "KoPub_Dotum_Bold";
  src: local("KoPub_Dotum_Bold"), url("fonts/KoPub_Dotum_Bold.ttf");
}
@font-face {
  font-family: "KoPub_Dotum_Light";
  src: local("KoPub_Dotum_Light"), url("fonts/KoPub_Dotum_Light.ttf");
}
@font-face {
  font-family: "KoPub_Dotum_Medium";
  src: local("KoPub_Dotum_Medium"), url("fonts/KoPub_Dotum_Medium.ttf");
}
@font-face {
  font-family: "KyoboHandwriting2021sjy";
  src: local("KyoboHandwriting2021sjy"),
    url("fonts/KyoboHandwriting2021sjy.ttf");
}
@font-face {
  font-family: "LH B";
  src: local("LH B"), url("fonts/LH B.ttf");
}
@font-face {
  font-family: "LH L";
  src: local("LH L"), url("fonts/LH L.ttf");
}
@font-face {
  font-family: "LH M";
  src: local("LH M"), url("fonts/LH M.ttf");
}
@font-face {
  font-family: "MAKGEOLLI";
  src: local("MAKGEOLLI"), url("fonts/MAKGEOLLI.ttf");
}
@font-face {
  font-family: "MYArirang";
  src: local("MYArirang"), url("fonts/MYArirang.ttf");
}
@font-face {
  font-family: "MYArirang_gothic";
  src: local("MYArirang_gothic"), url("fonts/MYArirang_gothic.ttf");
}
@font-face {
  font-family: "MYHaemalgeunSangsang";
  src: local("MYHaemalgeunSangsang"), url("fonts/MYHaemalgeunSangsang.ttf");
}
@font-face {
  font-family: "MYYeongnamnu";
  src: local("MYYeongnamnu"), url("fonts/MYYeongnamnu.ttf");
}
@font-face {
  font-family: "MapoAgape";
  src: local("MapoAgape"), url("fonts/MapoAgape.ttf");
}
@font-face {
  font-family: "MapoBackpacking";
  src: local("MapoBackpacking"), url("fonts/MapoBackpacking.ttf");
}
@font-face {
  font-family: "MapoDPP";
  src: local("MapoDPP"), url("fonts/MapoDPP.ttf");
}
@font-face {
  font-family: "MapoDacapo";
  src: local("MapoDacapo"), url("fonts/MapoDacapo.ttf");
}
@font-face {
  font-family: "MapoFlowerIsland";
  src: local("MapoFlowerIsland"), url("fonts/MapoFlowerIsland.ttf");
}
@font-face {
  font-family: "MapoGoldenPier";
  src: local("MapoGoldenPier"), url("fonts/MapoGoldenPier.ttf");
}
@font-face {
  font-family: "MapoHongdaeFreedom";
  src: local("MapoHongdaeFreedom"), url("fonts/MapoHongdaeFreedom.ttf");
}
@font-face {
  font-family: "MapoMaponaru";
  src: local("MapoMaponaru"), url("fonts/MapoMaponaru.ttf");
}
@font-face {
  font-family: "MapoPeacefull";
  src: local("MapoPeacefull"), url("fonts/MapoPeacefull.ttf");
}
@font-face {
  font-family: "NanumBarunGothic";
  src: local("NanumBarunGothic"), url("fonts/NanumBarunGothic.ttf");
}
@font-face {
  font-family: "NanumBarunGothicBold";
  src: local("NanumBarunGothicBold"), url("fonts/NanumBarunGothicBold.ttf");
}
@font-face {
  font-family: "NanumBarunGothicLight";
  src: local("NanumBarunGothicLight"), url("fonts/NanumBarunGothicLight.ttf");
}
@font-face {
  font-family: "NanumBarunGothicUltraLight";
  src: local("NanumBarunGothicUltraLight"),
    url("fonts/NanumBarunGothicUltraLight.ttf");
}
@font-face {
  font-family: "NanumBrush";
  src: local("NanumBrush"), url("fonts/NanumBrush.ttf");
}
@font-face {
  font-family: "NanumGothic";
  src: local("NanumGothic"), url("fonts/NanumGothic.ttf");
}
@font-face {
  font-family: "NanumGothicBold";
  src: local("NanumGothicBold"), url("fonts/NanumGothicBold.ttf");
}
@font-face {
  font-family: "NanumGothicEco";
  src: local("NanumGothicEco"), url("fonts/NanumGothicEco.ttf");
}
@font-face {
  font-family: "NanumGothicEcoBold";
  src: local("NanumGothicEcoBold"), url("fonts/NanumGothicEcoBold.ttf");
}
@font-face {
  font-family: "NanumGothicEcoExtraBold";
  src: local("NanumGothicEcoExtraBold"),
    url("fonts/NanumGothicEcoExtraBold.ttf");
}
@font-face {
  font-family: "NanumGothicExtraBold";
  src: local("NanumGothicExtraBold"), url("fonts/NanumGothicExtraBold.ttf");
}
@font-face {
  font-family: "NanumGothicLight";
  src: local("NanumGothicLight"), url("fonts/NanumGothicLight.ttf");
}
@font-face {
  font-family: "NanumMyeongjo";
  src: local("NanumMyeongjo"), url("fonts/NanumMyeongjo.ttf");
}
@font-face {
  font-family: "NanumMyeongjoBold";
  src: local("NanumMyeongjoBold"), url("fonts/NanumMyeongjoBold.ttf");
}
@font-face {
  font-family: "NanumMyeongjoEco";
  src: local("NanumMyeongjoEco"), url("fonts/NanumMyeongjoEco.ttf");
}
@font-face {
  font-family: "NanumMyeongjoEcoBold";
  src: local("NanumMyeongjoEcoBold"), url("fonts/NanumMyeongjoEcoBold.ttf");
}
@font-face {
  font-family: "NanumMyeongjoEcoExtraBold";
  src: local("NanumMyeongjoEcoExtraBold"),
    url("fonts/NanumMyeongjoEcoExtraBold.ttf");
}
@font-face {
  font-family: "NanumMyeongjoExtraBold";
  src: local("NanumMyeongjoExtraBold"), url("fonts/NanumMyeongjoExtraBold.ttf");
}
@font-face {
  font-family: "NanumPen";
  src: local("NanumPen"), url("fonts/NanumPen.ttf");
}
@font-face {
  font-family: "NanumSquareNeo-aLt";
  src: local("NanumSquareNeo-aLt"), url("fonts/NanumSquareNeo-aLt.ttf");
}
@font-face {
  font-family: "NanumSquareNeo-bRg";
  src: local("NanumSquareNeo-bRg"), url("fonts/NanumSquareNeo-bRg.ttf");
}
@font-face {
  font-family: "NanumSquareNeo-cBd";
  src: local("NanumSquareNeo-cBd"), url("fonts/NanumSquareNeo-cBd.ttf");
}
@font-face {
  font-family: "NanumSquareNeo-dEb";
  src: local("NanumSquareNeo-dEb"), url("fonts/NanumSquareNeo-dEb.ttf");
}
@font-face {
  font-family: "NanumSquareNeo-eHv";
  src: local("NanumSquareNeo-eHv"), url("fonts/NanumSquareNeo-eHv.ttf");
}
@font-face {
  font-family: "NanumSquareRoundB";
  src: local("NanumSquareRoundB"), url("fonts/NanumSquareRoundB.ttf");
}
@font-face {
  font-family: "NanumSquareRoundEB";
  src: local("NanumSquareRoundEB"), url("fonts/NanumSquareRoundEB.ttf");
}
@font-face {
  font-family: "NanumSquareRoundL";
  src: local("NanumSquareRoundL"), url("fonts/NanumSquareRoundL.ttf");
}
@font-face {
  font-family: "NanumSquareRoundR";
  src: local("NanumSquareRoundR"), url("fonts/NanumSquareRoundR.ttf");
}
@font-face {
  font-family: "OK CHAN";
  src: local("OK CHAN"), url("fonts/OK CHAN.ttf");
}
@font-face {
  font-family: "OK DDUNG";
  src: local("OK DDUNG"), url("fonts/OK DDUNG.ttf");
}
@font-face {
  font-family: "OK GUNG";
  src: local("OK GUNG"), url("fonts/OK GUNG.ttf");
}
@font-face {
  font-family: "ONE Mobile Bold";
  src: local("ONE Mobile Bold"), url("fonts/ONE Mobile Bold.ttf");
}
@font-face {
  font-family: "ONE Mobile Light";
  src: local("ONE Mobile Light"), url("fonts/ONE Mobile Light.ttf");
}
@font-face {
  font-family: "ONE Mobile POP";
  src: local("ONE Mobile POP"), url("fonts/ONE Mobile POP.ttf");
}
@font-face {
  font-family: "ONE Mobile Regular";
  src: local("ONE Mobile Regular"), url("fonts/ONE Mobile Regular.ttf");
}
@font-face {
  font-family: "ONE Mobile Title";
  src: local("ONE Mobile Title"), url("fonts/ONE Mobile Title.ttf");
}
@font-face {
  font-family: "OSeongandHanEum-Bold";
  src: local("OSeongandHanEum-Bold"), url("fonts/OSeongandHanEum-Bold.ttf");
}
@font-face {
  font-family: "OSeongandHanEum-Regular";
  src: local("OSeongandHanEum-Regular"),
    url("fonts/OSeongandHanEum-Regular.ttf");
}
@font-face {
  font-family: "Ownglyph_2022_UWY_Da_Gyeong-Rg";
  src: local("Ownglyph_2022_UWY_Da_Gyeong-Rg"),
    url("fonts/Ownglyph_2022_UWY_Da_Gyeong-Rg.ttf");
}
@font-face {
  font-family: "Ownglyph_2022_UWY_Si_Woo-Rg";
  src: local("Ownglyph_2022_UWY_Si_Woo-Rg"),
    url("fonts/Ownglyph_2022_UWY_Si_Woo-Rg.ttf");
}
@font-face {
  font-family: "Pak_Yong_jun";
  src: local("Pak_Yong_jun"), url("fonts/Pak_Yong_jun.ttf");
}
@font-face {
  font-family: "Pretendard-Black";
  src: local("Pretendard-Black"), url("fonts/Pretendard-Black.ttf");
}
@font-face {
  font-family: "Pretendard-Bold";
  src: local("Pretendard-Bold"), url("fonts/Pretendard-Bold.ttf");
}
@font-face {
  font-family: "Pretendard-ExtraBold";
  src: local("Pretendard-ExtraBold"), url("fonts/Pretendard-ExtraBold.ttf");
}
@font-face {
  font-family: "Pretendard-ExtraLight";
  src: local("Pretendard-ExtraLight"), url("fonts/Pretendard-ExtraLight.ttf");
}
@font-face {
  font-family: "Pretendard-Light";
  src: local("Pretendard-Light"), url("fonts/Pretendard-Light.ttf");
}
@font-face {
  font-family: "Pretendard-Medium";
  src: local("Pretendard-Medium"), url("fonts/Pretendard-Medium.ttf");
}
@font-face {
  font-family: "Pretendard-Regular";
  src: local("Pretendard-Regular"), url("fonts/Pretendard-Regular.ttf");
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: local("Pretendard-SemiBold"), url("fonts/Pretendard-SemiBold.ttf");
}
@font-face {
  font-family: "Pretendard-Thin";
  src: local("Pretendard-Thin"), url("fonts/Pretendard-Thin.ttf");
}
@font-face {
  font-family: "PretendardVariable";
  src: local("PretendardVariable"), url("fonts/PretendardVariable.ttf");
}
@font-face {
  font-family: "PureBatang-Bold";
  src: local("PureBatang-Bold"), url("fonts/PureBatang-Bold.ttf");
}
@font-face {
  font-family: "PureBatang-Light";
  src: local("PureBatang-Light"), url("fonts/PureBatang-Light.ttf");
}
@font-face {
  font-family: "PureBatang-Medium";
  src: local("PureBatang-Medium"), url("fonts/PureBatang-Medium.ttf");
}
@font-face {
  font-family: "PureunJeonnam-Bold";
  src: local("PureunJeonnam-Bold"), url("fonts/PureunJeonnam-Bold.ttf");
}
@font-face {
  font-family: "PureunJeonnam-Medium";
  src: local("PureunJeonnam-Medium"), url("fonts/PureunJeonnam-Medium.ttf");
}
@font-face {
  font-family: "PureunJeonnam";
  src: local("PureunJeonnam"), url("fonts/PureunJeonnam.ttf");
}
@font-face {
  font-family: "PyeongChang-Bold";
  src: local("PyeongChang-Bold"), url("fonts/PyeongChang-Bold.ttf");
}
@font-face {
  font-family: "PyeongChang-Regular";
  src: local("PyeongChang-Regular"), url("fonts/PyeongChang-Regular.ttf");
}
@font-face {
  font-family: "PyeongChangPeace-Bold";
  src: local("PyeongChangPeace-Bold"), url("fonts/PyeongChangPeace-Bold.ttf");
}
@font-face {
  font-family: "PyeongChangPeace-Light";
  src: local("PyeongChangPeace-Light"), url("fonts/PyeongChangPeace-Light.ttf");
}
@font-face {
  font-family: "RixInooAriDuri Regular";
  src: local("RixInooAriDuri Regular"), url("fonts/RixInooAriDuri Regular.ttf");
}
@font-face {
  font-family: "Rix눈물방울방울M";
  src: local("Rix눈물방울방울M"), url("fonts/Rix눈물방울방울M.ttf");
}
@font-face {
  font-family: "Rix핑크리본";
  src: local("Rix핑크리본"), url("fonts/Rix핑크리본.ttf");
}
@font-face {
  font-family: "Room No.703";
  src: local("Room No.703"), url("fonts/Room No.703.ttf");
}
@font-face {
  font-family: "SANGJU Dajungdagam";
  src: local("SANGJU Dajungdagam"), url("fonts/SANGJU Dajungdagam.ttf");
}
@font-face {
  font-family: "SANGJU Gotgam";
  src: local("SANGJU Gotgam"), url("fonts/SANGJU Gotgam.ttf");
}
@font-face {
  font-family: "SANGJU Gyeongcheon Island";
  src: local("SANGJU Gyeongcheon Island"),
    url("fonts/SANGJU Gyeongcheon Island.ttf");
}
@font-face {
  font-family: "SANGJU Haerye";
  src: local("SANGJU Haerye"), url("fonts/SANGJU Haerye.ttf");
}
@font-face {
  font-family: "SDSamliphopangcheTTFBasic";
  src: local("SDSamliphopangcheTTFBasic"),
    url("fonts/SDSamliphopangcheTTFBasic.ttf");
}
@font-face {
  font-family: "SDSamliphopangcheTTFOutline";
  src: local("SDSamliphopangcheTTFOutline"),
    url("fonts/SDSamliphopangcheTTFOutline.ttf");
}
@font-face {
  font-family: "SF싸락눈-TTF";
  src: local("SF싸락눈-TTF"), url("fonts/SF싸락눈-TTF.ttf");
}
@font-face {
  font-family: "Saenggeo Jincheon";
  src: local("Saenggeo Jincheon"), url("fonts/Saenggeo Jincheon.ttf");
}
@font-face {
  font-family: "SeoulHangangB";
  src: local("SeoulHangangB"), url("fonts/SeoulHangangB.ttf");
}
@font-face {
  font-family: "SeoulHangangEB";
  src: local("SeoulHangangEB"), url("fonts/SeoulHangangEB.ttf");
}
@font-face {
  font-family: "SeoulHangangL";
  src: local("SeoulHangangL"), url("fonts/SeoulHangangL.ttf");
}
@font-face {
  font-family: "SeoulHangangM";
  src: local("SeoulHangangM"), url("fonts/SeoulHangangM.ttf");
}
@font-face {
  font-family: "SeoulNamsanB";
  src: local("SeoulNamsanB"), url("fonts/SeoulNamsanB.ttf");
}
@font-face {
  font-family: "SeoulNamsanEB";
  src: local("SeoulNamsanEB"), url("fonts/SeoulNamsanEB.ttf");
}
@font-face {
  font-family: "SeoulNamsanL";
  src: local("SeoulNamsanL"), url("fonts/SeoulNamsanL.ttf");
}
@font-face {
  font-family: "SeoulNamsanM";
  src: local("SeoulNamsanM"), url("fonts/SeoulNamsanM.ttf");
}
@font-face {
  font-family: "SeoulNamsanvert";
  src: local("SeoulNamsanvert"), url("fonts/SeoulNamsanvert.ttf");
}
@font-face {
  font-family: "SuncheonB";
  src: local("SuncheonB"), url("fonts/SuncheonB.ttf");
}
@font-face {
  font-family: "SuncheonR";
  src: local("SuncheonR"), url("fonts/SuncheonR.ttf");
}
@font-face {
  font-family: "SuseongBatang";
  src: local("SuseongBatang"), url("fonts/SuseongBatang.ttf");
}
@font-face {
  font-family: "SuseongDotum";
  src: local("SuseongDotum"), url("fonts/SuseongDotum.ttf");
}
@font-face {
  font-family: "SuseongHyejeong";
  src: local("SuseongHyejeong"), url("fonts/SuseongHyejeong.ttf");
}
@font-face {
  font-family: "TAEBAEK milkyway";
  src: local("TAEBAEK milkyway"), url("fonts/TAEBAEK milkyway.ttf");
}
@font-face {
  font-family: "THEDonguri";
  src: local("THEDonguri"), url("fonts/THEDonguri.ttf");
}
@font-face {
  font-family: "TheCircleB";
  src: local("TheCircleB"), url("fonts/TheCircleB.ttf");
}
@font-face {
  font-family: "TheCircleL";
  src: local("TheCircleL"), url("fonts/TheCircleL.ttf");
}
@font-face {
  font-family: "TheCircleM";
  src: local("TheCircleM"), url("fonts/TheCircleM.ttf");
}
@font-face {
  font-family: "Title";
  src: local("Title"), url("fonts/Title.ttf");
}
@font-face {
  font-family: "Tlab신영복체";
  src: local("Tlab신영복체"), url("fonts/Tlab신영복체.ttf");
}
@font-face {
  font-family: "UhBee Banynany Bold";
  src: local("UhBee Banynany Bold"), url("fonts/UhBee Banynany Bold.ttf");
}
@font-face {
  font-family: "UhBee Banynany";
  src: local("UhBee Banynany"), url("fonts/UhBee Banynany.ttf");
}
@font-face {
  font-family: "UhBee freak researcher minani";
  src: local("UhBee freak researcher minani"),
    url("fonts/UhBee freak researcher minani.ttf");
}
@font-face {
  font-family: "UhBee mysen Bold";
  src: local("UhBee mysen Bold"), url("fonts/UhBee mysen Bold.ttf");
}
@font-face {
  font-family: "UhBee mysen";
  src: local("UhBee mysen"), url("fonts/UhBee mysen.ttf");
}
@font-face {
  font-family: "WandocleanseaB";
  src: local("WandocleanseaB"), url("fonts/WandocleanseaB.ttf");
}
@font-face {
  font-family: "WandocleanseaR";
  src: local("WandocleanseaR"), url("fonts/WandocleanseaR.ttf");
}
@font-face {
  font-family: "WandohopeB";
  src: local("WandohopeB"), url("fonts/WandohopeB.ttf");
}
@font-face {
  font-family: "WandohopeR";
  src: local("WandohopeR"), url("fonts/WandohopeR.ttf");
}
@font-face {
  font-family: "Wolyeonggyo";
  src: local("Wolyeonggyo"), url("fonts/Wolyeonggyo.ttf");
}
@font-face {
  font-family: "andante";
  src: local("andante"), url("fonts/andante.ttf");
}
@font-face {
  font-family: "a귀여운커플";
  src: local("a귀여운커플"), url("fonts/a귀여운커플.ttf");
}
@font-face {
  font-family: "a피오피네모";
  src: local("a피오피네모"), url("fonts/a피오피네모.ttf");
}
@font-face {
  font-family: "a피오피네모OL";
  src: local("a피오피네모OL"), url("fonts/a피오피네모OL.ttf");
}
@font-face {
  font-family: "a피오피네모_0";
  src: local("a피오피네모_0"), url("fonts/a피오피네모_0.ttf");
}
@font-face {
  font-family: "a피오피동글";
  src: local("a피오피동글"), url("fonts/a피오피동글.ttf");
}
@font-face {
  font-family: "a피오피동글OL";
  src: local("a피오피동글OL"), url("fonts/a피오피동글OL.ttf");
}
@font-face {
  font-family: "a피오피버블";
  src: local("a피오피버블"), url("fonts/a피오피버블.ttf");
}
@font-face {
  font-family: "a피오피버블OL";
  src: local("a피오피버블OL"), url("fonts/a피오피버블OL.ttf");
}
@font-face {
  font-family: "a피오피빙빙";
  src: local("a피오피빙빙"), url("fonts/a피오피빙빙.ttf");
}
@font-face {
  font-family: "a피오피빙빙MV";
  src: local("a피오피빙빙MV"), url("fonts/a피오피빙빙MV.ttf");
}
@font-face {
  font-family: "gabia_bombaram";
  src: local("gabia_bombaram"), url("fonts/gabia_bombaram.ttf");
}
@font-face {
  font-family: "gabia_napjakBlock";
  src: local("gabia_napjakBlock"), url("fonts/gabia_napjakBlock.ttf");
}
@font-face {
  font-family: "gabia_solmee";
  src: local("gabia_solmee"), url("fonts/gabia_solmee.ttf");
}
@font-face {
  font-family: "h2.25";
  src: local("h2.25"), url("fonts/h2.25.ttf");
}
@font-face {
  font-family: "h3.3";
  src: local("h3.3"), url("fonts/h3.3.ttf");
}
@font-face {
  font-family: "h4.10";
  src: local("h4.10"), url("fonts/h4.10.ttf");
}
@font-face {
  font-family: "h5.8";
  src: local("h5.8"), url("fonts/h5.8.ttf");
}
@font-face {
  font-family: "h6.7";
  src: local("h6.7"), url("fonts/h6.7.ttf");
}
@font-face {
  font-family: "h7.7";
  src: local("h7.7"), url("fonts/h7.7.ttf");
}
@font-face {
  font-family: "hans punch";
  src: local("hans punch"), url("fonts/hans punch.ttf");
}
@font-face {
  font-family: "netmarbleB";
  src: local("netmarbleB"), url("fonts/netmarbleB.ttf");
}
@font-face {
  font-family: "netmarbleL";
  src: local("netmarbleL"), url("fonts/netmarbleL.ttf");
}
@font-face {
  font-family: "netmarbleM";
  src: local("netmarbleM"), url("fonts/netmarbleM.ttf");
}
@font-face {
  font-family: "tvN 즐거운이야기 Bold";
  src: local("tvN 즐거운이야기 Bold"), url("fonts/tvN 즐거운이야기 Bold.ttf");
}
@font-face {
  font-family: "tvN 즐거운이야기 Light";
  src: local("tvN 즐거운이야기 Light"), url("fonts/tvN 즐거운이야기 Light.ttf");
}
@font-face {
  font-family: "tvN 즐거운이야기 Medium";
  src: local("tvN 즐거운이야기 Medium"),
    url("fonts/tvN 즐거운이야기 Medium.ttf");
}
@font-face {
  font-family: "yangpyeong_B";
  src: local("yangpyeong_B"), url("fonts/yangpyeong_B.ttf");
}
@font-face {
  font-family: "yangpyeong_L";
  src: local("yangpyeong_L"), url("fonts/yangpyeong_L.ttf");
}
@font-face {
  font-family: "yangpyeong_M";
  src: local("yangpyeong_M"), url("fonts/yangpyeong_M.ttf");
}
@font-face {
  font-family: "강원교육모두 Bold";
  src: local("강원교육모두 Bold"), url("fonts/강원교육모두 Bold.ttf");
}
@font-face {
  font-family: "강원교육모두 Light";
  src: local("강원교육모두 Light"), url("fonts/강원교육모두 Light.ttf");
}
@font-face {
  font-family: "강원교육새음";
  src: local("강원교육새음"), url("fonts/강원교육새음.ttf");
}
@font-face {
  font-family: "강원교육튼튼";
  src: local("강원교육튼튼"), url("fonts/강원교육튼튼.ttf");
}
@font-face {
  font-family: "강원교육현옥샘";
  src: local("강원교육현옥샘"), url("fonts/강원교육현옥샘.ttf");
}
@font-face {
  font-family: "경기천년바탕_Bold";
  src: local("경기천년바탕_Bold"), url("fonts/경기천년바탕_Bold.ttf");
}
@font-face {
  font-family: "경기천년바탕_Regular";
  src: local("경기천년바탕_Regular"), url("fonts/경기천년바탕_Regular.ttf");
}
@font-face {
  font-family: "경기천년제목V_Bold";
  src: local("경기천년제목V_Bold"), url("fonts/경기천년제목V_Bold.ttf");
}
@font-face {
  font-family: "경기천년제목_Bold";
  src: local("경기천년제목_Bold"), url("fonts/경기천년제목_Bold.ttf");
}
@font-face {
  font-family: "경기천년제목_Light";
  src: local("경기천년제목_Light"), url("fonts/경기천년제목_Light.ttf");
}
@font-face {
  font-family: "경기천년제목_Medium";
  src: local("경기천년제목_Medium"), url("fonts/경기천년제목_Medium.ttf");
}
@font-face {
  font-family: "고양덕양 B";
  src: local("고양덕양 B"), url("fonts/고양덕양 B.ttf");
}
@font-face {
  font-family: "고양덕양 EB";
  src: local("고양덕양 EB"), url("fonts/고양덕양 EB.ttf");
}
@font-face {
  font-family: "고양일산 L";
  src: local("고양일산 L"), url("fonts/고양일산 L.ttf");
}
@font-face {
  font-family: "고양일산 R";
  src: local("고양일산 R"), url("fonts/고양일산 R.ttf");
}
@font-face {
  font-family: "국립박물관문화재단클래식B";
  src: local("국립박물관문화재단클래식B"),
    url("fonts/국립박물관문화재단클래식B.ttf");
}
@font-face {
  font-family: "국립박물관문화재단클래식L";
  src: local("국립박물관문화재단클래식L"),
    url("fonts/국립박물관문화재단클래식L.ttf");
}
@font-face {
  font-family: "국립박물관문화재단클래식M";
  src: local("국립박물관문화재단클래식M"),
    url("fonts/국립박물관문화재단클래식M.ttf");
}
@font-face {
  font-family: "김포평화고딕체(Bold)";
  src: local("김포평화고딕체(Bold)"), url("fonts/김포평화고딕체(Bold).ttf");
}
@font-face {
  font-family: "김포평화고딕체(Regular)";
  src: local("김포평화고딕체(Regular)"),
    url("fonts/김포평화고딕체(Regular).ttf");
}
@font-face {
  font-family: "꽃소금체";
  src: local("꽃소금체"), url("fonts/꽃소금체.ttf");
}
@font-face {
  font-family: "나눔손글씨 고딕 아니고 고딩";
  src: local("나눔손글씨 고딕 아니고 고딩"),
    url("fonts/나눔손글씨 고딕 아니고 고딩.ttf");
}
@font-face {
  font-family: "나눔손글씨 고려글꼴";
  src: local("나눔손글씨 고려글꼴"), url("fonts/나눔손글씨 고려글꼴.ttf");
}
@font-face {
  font-family: "나눔손글씨 규리의 일기";
  src: local("나눔손글씨 규리의 일기"), url("fonts/나눔손글씨 규리의 일기.ttf");
}
@font-face {
  font-family: "나눔손글씨 기쁨밝음";
  src: local("나눔손글씨 기쁨밝음"), url("fonts/나눔손글씨 기쁨밝음.ttf");
}
@font-face {
  font-family: "나눔손글씨 꽃내음";
  src: local("나눔손글씨 꽃내음"), url("fonts/나눔손글씨 꽃내음.ttf");
}
@font-face {
  font-family: "나눔손글씨 느릿느릿체";
  src: local("나눔손글씨 느릿느릿체"), url("fonts/나눔손글씨 느릿느릿체.ttf");
}
@font-face {
  font-family: "나눔손글씨 대광유리";
  src: local("나눔손글씨 대광유리"), url("fonts/나눔손글씨 대광유리.ttf");
}
@font-face {
  font-family: "나눔손글씨 둥근인연";
  src: local("나눔손글씨 둥근인연"), url("fonts/나눔손글씨 둥근인연.ttf");
}
@font-face {
  font-family: "나눔손글씨 마고체";
  src: local("나눔손글씨 마고체"), url("fonts/나눔손글씨 마고체.ttf");
}
@font-face {
  font-family: "나눔손글씨 미래나무";
  src: local("나눔손글씨 미래나무"), url("fonts/나눔손글씨 미래나무.ttf");
}
@font-face {
  font-family: "나눔손글씨 바른정신";
  src: local("나눔손글씨 바른정신"), url("fonts/나눔손글씨 바른정신.ttf");
}
@font-face {
  font-family: "나눔손글씨 바른히피";
  src: local("나눔손글씨 바른히피"), url("fonts/나눔손글씨 바른히피.ttf");
}
@font-face {
  font-family: "나눔손글씨 비상체";
  src: local("나눔손글씨 비상체"), url("fonts/나눔손글씨 비상체.ttf");
}
@font-face {
  font-family: "나눔손글씨 상해찬미체";
  src: local("나눔손글씨 상해찬미체"), url("fonts/나눔손글씨 상해찬미체.ttf");
}
@font-face {
  font-family: "나눔손글씨 소미체";
  src: local("나눔손글씨 소미체"), url("fonts/나눔손글씨 소미체.ttf");
}
@font-face {
  font-family: "나눔손글씨 손편지체";
  src: local("나눔손글씨 손편지체"), url("fonts/나눔손글씨 손편지체.ttf");
}
@font-face {
  font-family: "나눔손글씨 수줍은 대학생";
  src: local("나눔손글씨 수줍은 대학생"),
    url("fonts/나눔손글씨 수줍은 대학생.ttf");
}
@font-face {
  font-family: "나눔손글씨 시우 귀여워";
  src: local("나눔손글씨 시우 귀여워"), url("fonts/나눔손글씨 시우 귀여워.ttf");
}
@font-face {
  font-family: "나눔손글씨 아줌마 자유";
  src: local("나눔손글씨 아줌마 자유"), url("fonts/나눔손글씨 아줌마 자유.ttf");
}
@font-face {
  font-family: "나눔손글씨 여름글씨";
  src: local("나눔손글씨 여름글씨"), url("fonts/나눔손글씨 여름글씨.ttf");
}
@font-face {
  font-family: "나눔손글씨 열일체";
  src: local("나눔손글씨 열일체"), url("fonts/나눔손글씨 열일체.ttf");
}
@font-face {
  font-family: "나눔손글씨 예쁜 민경체";
  src: local("나눔손글씨 예쁜 민경체"), url("fonts/나눔손글씨 예쁜 민경체.ttf");
}
@font-face {
  font-family: "나눔손글씨 옥비체";
  src: local("나눔손글씨 옥비체"), url("fonts/나눔손글씨 옥비체.ttf");
}
@font-face {
  font-family: "나눔손글씨 왼손잡이도 예뻐";
  src: local("나눔손글씨 왼손잡이도 예뻐"),
    url("fonts/나눔손글씨 왼손잡이도 예뻐.ttf");
}
@font-face {
  font-family: "나눔손글씨 점꼴체";
  src: local("나눔손글씨 점꼴체"), url("fonts/나눔손글씨 점꼴체.ttf");
}
@font-face {
  font-family: "나눔손글씨 행복한 도비";
  src: local("나눔손글씨 행복한 도비"), url("fonts/나눔손글씨 행복한 도비.ttf");
}
@font-face {
  font-family: "나눔손글씨 혁이체";
  src: local("나눔손글씨 혁이체"), url("fonts/나눔손글씨 혁이체.ttf");
}
@font-face {
  font-family: "나눔손글씨 효남 늘 화이팅";
  src: local("나눔손글씨 효남 늘 화이팅"),
    url("fonts/나눔손글씨 효남 늘 화이팅.ttf");
}
@font-face {
  font-family: "나눔손글씨_고딕_아니고_고딩";
  src: local("나눔손글씨_고딕_아니고_고딩"),
    url("fonts/나눔손글씨_고딕_아니고_고딩.ttf");
}
@font-face {
  font-family: "나눔손글씨_기쁨밝음";
  src: local("나눔손글씨_기쁨밝음"), url("fonts/나눔손글씨_기쁨밝음.ttf");
}
@font-face {
  font-family: "나눔손글씨_꽃내음";
  src: local("나눔손글씨_꽃내음"), url("fonts/나눔손글씨_꽃내음.ttf");
}
@font-face {
  font-family: "나눔손글씨붓";
  src: local("나눔손글씨붓"), url("fonts/나눔손글씨붓.ttf");
}
@font-face {
  font-family: "땅스부대찌개 Bold";
  src: local("땅스부대찌개 Bold"), url("fonts/땅스부대찌개 Bold.ttf");
}
@font-face {
  font-family: "땅스부대찌개 Light";
  src: local("땅스부대찌개 Light"), url("fonts/땅스부대찌개 Light.ttf");
}
@font-face {
  font-family: "땅스부대찌개 Medium";
  src: local("땅스부대찌개 Medium"), url("fonts/땅스부대찌개 Medium.ttf");
}
@font-face {
  font-family: "문화재돌봄체 Bold";
  src: local("문화재돌봄체 Bold"), url("fonts/문화재돌봄체 Bold.ttf");
}
@font-face {
  font-family: "문화재돌봄체 Regular";
  src: local("문화재돌봄체 Regular"), url("fonts/문화재돌봄체 Regular.ttf");
}
@font-face {
  font-family: "미원Miwon";
  src: local("미원Miwon"), url("fonts/미원Miwon.ttf");
}
@font-face {
  font-family: "빛고을광주_Bold";
  src: local("빛고을광주_Bold"), url("fonts/빛고을광주_Bold.ttf");
}
@font-face {
  font-family: "빛고을광주_Light";
  src: local("빛고을광주_Light"), url("fonts/빛고을광주_Light.ttf");
}
@font-face {
  font-family: "빛고을광주_Medium";
  src: local("빛고을광주_Medium"), url("fonts/빛고을광주_Medium.ttf");
}
@font-face {
  font-family: "서울남산 장체B";
  src: local("서울남산 장체B"), url("fonts/서울남산 장체B.ttf");
}
@font-face {
  font-family: "서울남산 장체BL";
  src: local("서울남산 장체BL"), url("fonts/서울남산 장체BL.ttf");
}
@font-face {
  font-family: "서울남산 장체EB";
  src: local("서울남산 장체EB"), url("fonts/서울남산 장체EB.ttf");
}
@font-face {
  font-family: "서울남산 장체L";
  src: local("서울남산 장체L"), url("fonts/서울남산 장체L.ttf");
}
@font-face {
  font-family: "서울남산 장체M";
  src: local("서울남산 장체M"), url("fonts/서울남산 장체M.ttf");
}
@font-face {
  font-family: "서울남산_장체B";
  src: local("서울남산_장체B"), url("fonts/서울남산_장체B.ttf");
}
@font-face {
  font-family: "서울남산_장체BL";
  src: local("서울남산_장체BL"), url("fonts/서울남산_장체BL.ttf");
}
@font-face {
  font-family: "서울남산_장체EB";
  src: local("서울남산_장체EB"), url("fonts/서울남산_장체EB.ttf");
}
@font-face {
  font-family: "서울남산_장체L";
  src: local("서울남산_장체L"), url("fonts/서울남산_장체L.ttf");
}
@font-face {
  font-family: "서울남산_장체M";
  src: local("서울남산_장체M"), url("fonts/서울남산_장체M.ttf");
}
@font-face {
  font-family: "서울한강 장체B";
  src: local("서울한강 장체B"), url("fonts/서울한강 장체B.ttf");
}
@font-face {
  font-family: "서울한강 장체BL";
  src: local("서울한강 장체BL"), url("fonts/서울한강 장체BL.ttf");
}
@font-face {
  font-family: "서울한강 장체EB";
  src: local("서울한강 장체EB"), url("fonts/서울한강 장체EB.ttf");
}
@font-face {
  font-family: "서울한강 장체L";
  src: local("서울한강 장체L"), url("fonts/서울한강 장체L.ttf");
}
@font-face {
  font-family: "서울한강 장체M";
  src: local("서울한강 장체M"), url("fonts/서울한강 장체M.ttf");
}
@font-face {
  font-family: "솔뫼 김대건 Light";
  src: local("솔뫼 김대건 Light"), url("fonts/솔뫼 김대건 Light.ttf");
}
@font-face {
  font-family: "솔뫼 김대건 Medium";
  src: local("솔뫼 김대건 Medium"), url("fonts/솔뫼 김대건 Medium.ttf");
}
@font-face {
  font-family: "야놀자 야체 Bold";
  src: local("야놀자 야체 Bold"), url("fonts/야놀자 야체 Bold.ttf");
}
@font-face {
  font-family: "야놀자 야체 Regular";
  src: local("야놀자 야체 Regular"), url("fonts/야놀자 야체 Regular.ttf");
}
@font-face {
  font-family: "영양군 음식디미방";
  src: local("영양군 음식디미방"), url("fonts/영양군 음식디미방.ttf");
}
@font-face {
  font-family: "온글잎 0923";
  src: local("온글잎 0923"), url("fonts/온글잎 0923.ttf");
}
@font-face {
  font-family: "온글잎 경영체";
  src: local("온글잎 경영체"), url("fonts/온글잎 경영체.ttf");
}
@font-face {
  font-family: "온글잎 굥이의 하루";
  src: local("온글잎 굥이의 하루"), url("fonts/온글잎 굥이의 하루.ttf");
}
@font-face {
  font-family: "온글잎 구마 붓펜";
  src: local("온글잎 구마 붓펜"), url("fonts/온글잎 구마 붓펜.ttf");
}
@font-face {
  font-family: "온글잎 구마 손글씨";
  src: local("온글잎 구마 손글씨"), url("fonts/온글잎 구마 손글씨.ttf");
}
@font-face {
  font-family: "온글잎 구마 손글씨2";
  src: local("온글잎 구마 손글씨2"), url("fonts/온글잎 구마 손글씨2.ttf");
}
@font-face {
  font-family: "온글잎 권먼지1";
  src: local("온글잎 권먼지1"), url("fonts/온글잎 권먼지1.ttf");
}
@font-face {
  font-family: "온글잎 기롱";
  src: local("온글잎 기롱"), url("fonts/온글잎 기롱.ttf");
}
@font-face {
  font-family: "온글잎 김선엽";
  src: local("온글잎 김선엽"), url("fonts/온글잎 김선엽.ttf");
}
@font-face {
  font-family: "온글잎 까꿍이체";
  src: local("온글잎 까꿍이체"), url("fonts/온글잎 까꿍이체.ttf");
}
@font-face {
  font-family: "온글잎 나나양";
  src: local("온글잎 나나양"), url("fonts/온글잎 나나양.ttf");
}
@font-face {
  font-family: "온글잎 나민희체";
  src: local("온글잎 나민희체"), url("fonts/온글잎 나민희체.ttf");
}
@font-face {
  font-family: "온글잎 니가너무됴아체";
  src: local("온글잎 니가너무됴아체"), url("fonts/온글잎 니가너무됴아체.ttf");
}
@font-face {
  font-family: "온글잎 다시온";
  src: local("온글잎 다시온"), url("fonts/온글잎 다시온.ttf");
}
@font-face {
  font-family: "온글잎 단재 신채호";
  src: local("온글잎 단재 신채호"), url("fonts/온글잎 단재 신채호.ttf");
}
@font-face {
  font-family: "온글잎 달달구리 밍구리체";
  src: local("온글잎 달달구리 밍구리체"),
    url("fonts/온글잎 달달구리 밍구리체.ttf");
}
@font-face {
  font-family: "온글잎 당케";
  src: local("온글잎 당케"), url("fonts/온글잎 당케.ttf");
}
@font-face {
  font-family: "온글잎 댜미";
  src: local("온글잎 댜미"), url("fonts/온글잎 댜미.ttf");
}
@font-face {
  font-family: "온글잎 동도로동 라이트";
  src: local("온글잎 동도로동 라이트"), url("fonts/온글잎 동도로동 라이트.ttf");
}
@font-face {
  font-family: "온글잎 레이콩체";
  src: local("온글잎 레이콩체"), url("fonts/온글잎 레이콩체.ttf");
}
@font-face {
  font-family: "온글잎 만두짹짹0글씨체";
  src: local("온글잎 만두짹짹0글씨체"), url("fonts/온글잎 만두짹짹0글씨체.ttf");
}
@font-face {
  font-family: "온글잎 몽구름";
  src: local("온글잎 몽구름"), url("fonts/온글잎 몽구름.ttf");
}
@font-face {
  font-family: "온글잎 무궁체";
  src: local("온글잎 무궁체"), url("fonts/온글잎 무궁체.ttf");
}
@font-face {
  font-family: "온글잎 미또1";
  src: local("온글잎 미또1"), url("fonts/온글잎 미또1.ttf");
}
@font-face {
  font-family: "온글잎 미락";
  src: local("온글잎 미락"), url("fonts/온글잎 미락.ttf");
}
@font-face {
  font-family: "온글잎 밈폰트으";
  src: local("온글잎 밈폰트으"), url("fonts/온글잎 밈폰트으.ttf");
}
@font-face {
  font-family: "온글잎 박승자";
  src: local("온글잎 박승자"), url("fonts/온글잎 박승자.ttf");
}
@font-face {
  font-family: "온글잎 보경체";
  src: local("온글잎 보경체"), url("fonts/온글잎 보경체.ttf");
}
@font-face {
  font-family: "온글잎 보현체";
  src: local("온글잎 보현체"), url("fonts/온글잎 보현체.ttf");
}
@font-face {
  font-family: "온글잎 비치나";
  src: local("온글잎 비치나"), url("fonts/온글잎 비치나.ttf");
}
@font-face {
  font-family: "온글잎 뿌까";
  src: local("온글잎 뿌까"), url("fonts/온글잎 뿌까.ttf");
}
@font-face {
  font-family: "온글잎 상원체";
  src: local("온글잎 상원체"), url("fonts/온글잎 상원체.ttf");
}
@font-face {
  font-family: "온글잎 석영체";
  src: local("온글잎 석영체"), url("fonts/온글잎 석영체.ttf");
}
@font-face {
  font-family: "온글잎 솜 붓글씨";
  src: local("온글잎 솜 붓글씨"), url("fonts/온글잎 솜 붓글씨.ttf");
}
@font-face {
  font-family: "온글잎 순돌체";
  src: local("온글잎 순돌체"), url("fonts/온글잎 순돌체.ttf");
}
@font-face {
  font-family: "온글잎 쉬리";
  src: local("온글잎 쉬리"), url("fonts/온글잎 쉬리.ttf");
}
@font-face {
  font-family: "온글잎 쑴체";
  src: local("온글잎 쑴체"), url("fonts/온글잎 쑴체.ttf");
}
@font-face {
  font-family: "온글잎 아라체";
  src: local("온글잎 아라체"), url("fonts/온글잎 아라체.ttf");
}
@font-face {
  font-family: "온글잎 아일랜두";
  src: local("온글잎 아일랜두"), url("fonts/온글잎 아일랜두.ttf");
}
@font-face {
  font-family: "온글잎 안될과학궤도체";
  src: local("온글잎 안될과학궤도체"), url("fonts/온글잎 안될과학궤도체.ttf");
}
@font-face {
  font-family: "온글잎 안될과학약체";
  src: local("온글잎 안될과학약체"), url("fonts/온글잎 안될과학약체.ttf");
}
@font-face {
  font-family: "온글잎 안될과학유니랩장체";
  src: local("온글잎 안될과학유니랩장체"),
    url("fonts/온글잎 안될과학유니랩장체.ttf");
}
@font-face {
  font-family: "온글잎 엠비쯔체";
  src: local("온글잎 엠비쯔체"), url("fonts/온글잎 엠비쯔체.ttf");
}
@font-face {
  font-family: "온글잎 여운";
  src: local("온글잎 여운"), url("fonts/온글잎 여운.ttf");
}
@font-face {
  font-family: "온글잎 연더랜드";
  src: local("온글잎 연더랜드"), url("fonts/온글잎 연더랜드.ttf");
}
@font-face {
  font-family: "온글잎 연두323";
  src: local("온글잎 연두323"), url("fonts/온글잎 연두323.ttf");
}
@font-face {
  font-family: "온글잎 옞니";
  src: local("온글잎 옞니"), url("fonts/온글잎 옞니.ttf");
}
@font-face {
  font-family: "온글잎 우롱차맛";
  src: local("온글잎 우롱차맛"), url("fonts/온글잎 우롱차맛.ttf");
}
@font-face {
  font-family: "온글잎 원슝";
  src: local("온글잎 원슝"), url("fonts/온글잎 원슝.ttf");
}
@font-face {
  font-family: "온글잎 위리체";
  src: local("온글잎 위리체"), url("fonts/온글잎 위리체.ttf");
}
@font-face {
  font-family: "온글잎 유별나체";
  src: local("온글잎 유별나체"), url("fonts/온글잎 유별나체.ttf");
}
@font-face {
  font-family: "온글잎 윤아체";
  src: local("온글잎 윤아체"), url("fonts/온글잎 윤아체.ttf");
}
@font-face {
  font-family: "온글잎 은성 폰트";
  src: local("온글잎 은성 폰트"), url("fonts/온글잎 은성 폰트.ttf");
}
@font-face {
  font-family: "온글잎 은파체";
  src: local("온글잎 은파체"), url("fonts/온글잎 은파체.ttf");
}
@font-face {
  font-family: "온글잎 의연체";
  src: local("온글잎 의연체"), url("fonts/온글잎 의연체.ttf");
}
@font-face {
  font-family: "온글잎 이릇체";
  src: local("온글잎 이릇체"), url("fonts/온글잎 이릇체.ttf");
}
@font-face {
  font-family: "온글잎 이원식";
  src: local("온글잎 이원식"), url("fonts/온글잎 이원식.ttf");
}
@font-face {
  font-family: "온글잎 즐거운써니";
  src: local("온글잎 즐거운써니"), url("fonts/온글잎 즐거운써니.ttf");
}
@font-face {
  font-family: "온글잎 진드기";
  src: local("온글잎 진드기"), url("fonts/온글잎 진드기.ttf");
}
@font-face {
  font-family: "온글잎 진주폰트";
  src: local("온글잎 진주폰트"), url("fonts/온글잎 진주폰트.ttf");
}
@font-face {
  font-family: "온글잎 티티체";
  src: local("온글잎 티티체"), url("fonts/온글잎 티티체.ttf");
}
@font-face {
  font-family: "온글잎 팡이체";
  src: local("온글잎 팡이체"), url("fonts/온글잎 팡이체.ttf");
}
@font-face {
  font-family: "온글잎 한승";
  src: local("온글잎 한승"), url("fonts/온글잎 한승.ttf");
}
@font-face {
  font-family: "온글잎 해솜체";
  src: local("온글잎 해솜체"), url("fonts/온글잎 해솜체.ttf");
}
@font-face {
  font-family: "온글잎 행복한맹쿼카체";
  src: local("온글잎 행복한맹쿼카체"), url("fonts/온글잎 행복한맹쿼카체.ttf");
}
@font-face {
  font-family: "온글잎 헤세드 손글씨";
  src: local("온글잎 헤세드 손글씨"), url("fonts/온글잎 헤세드 손글씨.ttf");
}
@font-face {
  font-family: "온글잎 호떡";
  src: local("온글잎 호떡"), url("fonts/온글잎 호떡.ttf");
}
@font-face {
  font-family: "온글잎 호승쌤체";
  src: local("온글잎 호승쌤체"), url("fonts/온글잎 호승쌤체.ttf");
}
@font-face {
  font-family: "온글잎 호주나리체";
  src: local("온글잎 호주나리체"), url("fonts/온글잎 호주나리체.ttf");
}
@font-face {
  font-family: "유앤피플 고딕 KS";
  src: local("유앤피플 고딕 KS"), url("fonts/유앤피플 고딕 KS.ttf");
}
@font-face {
  font-family: "유앤피플 고딕 UNI";
  src: local("유앤피플 고딕 UNI"), url("fonts/유앤피플 고딕 UNI.ttf");
}
@font-face {
  font-family: "이순신Bold";
  src: local("이순신Bold"), url("fonts/이순신Bold.ttf");
}
@font-face {
  font-family: "이순신Regular";
  src: local("이순신Regular"), url("fonts/이순신Regular.ttf");
}
@font-face {
  font-family: "이순신돋움체B";
  src: local("이순신돋움체B"), url("fonts/이순신돋움체B.ttf");
}
@font-face {
  font-family: "이순신돋움체L";
  src: local("이순신돋움체L"), url("fonts/이순신돋움체L.ttf");
}
@font-face {
  font-family: "이순신돋움체M";
  src: local("이순신돋움체M"), url("fonts/이순신돋움체M.ttf");
}
@font-face {
  font-family: "전주완판본 각B";
  src: local("전주완판본 각B"), url("fonts/전주완판본 각B.ttf");
}
@font-face {
  font-family: "전주완판본 각L";
  src: local("전주완판본 각L"), url("fonts/전주완판본 각L.ttf");
}
@font-face {
  font-family: "전주완판본 각R";
  src: local("전주완판본 각R"), url("fonts/전주완판본 각R.ttf");
}
@font-face {
  font-family: "전주완판본 순B";
  src: local("전주완판본 순B"), url("fonts/전주완판본 순B.ttf");
}
@font-face {
  font-family: "전주완판본 순L";
  src: local("전주완판본 순L"), url("fonts/전주완판본 순L.ttf");
}
@font-face {
  font-family: "전주완판본 순R";
  src: local("전주완판본 순R"), url("fonts/전주완판본 순R.ttf");
}
@font-face {
  font-family: "중나좋체 Light";
  src: local("중나좋체 Light"), url("fonts/중나좋체 Light.ttf");
}
@font-face {
  font-family: "중나좋체 Medium";
  src: local("중나좋체 Medium"), url("fonts/중나좋체 Medium.ttf");
}
@font-face {
  font-family: "창원단감아삭체";
  src: local("창원단감아삭체"), url("fonts/창원단감아삭체.ttf");
}
@font-face {
  font-family: "충북대70주년체B";
  src: local("충북대70주년체B"), url("fonts/충북대70주년체B.ttf");
}
@font-face {
  font-family: "충북대70주년체R";
  src: local("충북대70주년체R"), url("fonts/충북대70주년체R.ttf");
}
@font-face {
  font-family: "충북대직지체";
  src: local("충북대직지체"), url("fonts/충북대직지체.ttf");
}
@font-face {
  font-family: "펀플로 생존자";
  src: local("펀플로 생존자"), url("fonts/펀플로 생존자.ttf");
}
@font-face {
  font-family: "한국기계연구원_Light";
  src: local("한국기계연구원_Light"), url("fonts/한국기계연구원_Light.ttf");
}
@font-face {
  font-family: "한국기계연구원_bold";
  src: local("한국기계연구원_bold"), url("fonts/한국기계연구원_bold.ttf");
}
@font-face {
  font-family: "한수원_한돋음_B";
  src: local("한수원_한돋음_B"), url("fonts/한수원_한돋음_B.ttf");
}
@font-face {
  font-family: "한수원_한돋음_R";
  src: local("한수원_한돋음_R"), url("fonts/한수원_한돋음_R.ttf");
}
@font-face {
  font-family: "한수원_한울림_R";
  src: local("한수원_한울림_R"), url("fonts/한수원_한울림_R.ttf");
}
@font-face {
  font-family: "해남체";
  src: local("해남체"), url("fonts/해남체.ttf");
}
@font-face {
  font-family: "행복고흥B";
  src: local("행복고흥B"), url("fonts/행복고흥B.ttf");
}
@font-face {
  font-family: "행복고흥L";
  src: local("행복고흥L"), url("fonts/행복고흥L.ttf");
}
@font-face {
  font-family: "행복고흥M";
  src: local("행복고흥M"), url("fonts/행복고흥M.ttf");
}
@font-face {
  font-family: "호국체Bold_TTF";
  src: local("호국체Bold_TTF"), url("fonts/호국체Bold_TTF.ttf");
}
@font-face {
  font-family: "호국체Std_TTF";
  src: local("호국체Std_TTF"), url("fonts/호국체Std_TTF.ttf");
}
@font-face {
  font-family: "환경B";
  src: local("환경B"), url("fonts/환경B.ttf");
}
@font-face {
  font-family: "환경R";
  src: local("환경R"), url("fonts/환경R.ttf");
}
@font-face {
  font-family: "휴먼범석체";
  src: local("휴먼범석체"), url("fonts/휴먼범석체.ttf");
}
